.card {
  border: 0.5px solid #ef9a9a;
  border-radius: 6px;
  overflow: hidden;
  text-align: center;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: transform 0.5s;
}

.card:hover,
.card:focus {
  transform: scale3d(1.05, 1.05, 1.05);
  transition: transform 0.5s;
}

a {
  text-decoration: none;
  color: black;
}

.card a:hover,
.card a:active {
  color: #ef9a9a;
}

section {
  margin: 0.5rem;
}

.sec2 {
  width: 100%;
}

.far {
  margin-bottom: 5px;
  display: block;
}
