.card {
  border: 0.5px solid #ef9a9a;
  border-radius: 6px;
  overflow: hidden;
  text-align: center;
  display: flex;
  /* justify-content: space-between; */
  padding: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all 0.5s ease-in-out;
}

.card:hover,
.card:focus {
  transform: scale3d(1.05, 1.05, 1.05);
}

.links {
  text-decoration: none;
  color: black;
  transition: all 0.3s ease-in-out;
}

.card .links:hover,
.card .links:active {
  color: #ef9a9a;
  transition: all 0.3s ease-in-out;
}

section {
  margin: 0.5rem;
}

.section2 {
  width: 100%;
}

.far {
  margin-bottom: 5px;
  display: block;
}

.expandGrid {
  grid-column: span 2;
  grid-row: span 2;
  /* transition: all 2s ease-in-out; */
}
