header {
  background: #f46b45;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #eea849, #f46b45);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #eea849, #f46b45);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 0.5rem;
}

header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1rem;
}

header p {
  font-size: 2rem;
  font-weight: bold;
  color: #080808;
}

@media only screen and (max-width: 600px) {
  header p {
    font-size: 1rem;
  }
}