footer {
  background: #f46b45;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #eea849, #f46b45);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #eea849, #f46b45);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: absolute;
  padding: 0.5rem;
  bottom: 0;
  width: 100%;
}

footer p {
  font-size: 1rem;
  font-weight: bold;
  color: #080808;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  footer p {
    font-size: 1rem;
  }
}
